# fly.toml app configuration file generated for planning-poker-sync-server on 2024-03-08T05:22:19-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "planning-poker-sync-server"
kill_signal = "SIGTERM"
primary_region = "gru"

[mounts]
  source="database"
  destination="/mnt/database"

[env]
  DATABASE_PATH = "/mnt/database/production.sqlite3"

[build]
  dockerfile = "Dockerfile.sync-server"

[[services]]
  internal_port = 8080
  protocol = "tcp"
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
    