@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer base {
    :root {
        --background: 233 15% 12%;
        --disclaimer: 61.22448979591838, 72.05882352941177%, 73.33333333333334%;
        --foreground: 60 9.1% 97.8%;
        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;
        --popover: 235.71 19.44% 14.12%;
        --popover-foreground: 60 9.1% 97.8%;
        --primary: 238 49% 56%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 235.71 17.95% 15.29%;
        --secondary-foreground: 60 9.1% 97.8%;
        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;
        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 231 16% 24%;
        --input: 12 6.5% 15.1%;
        --ring: 238 49% 56%;
        --radius: 0.5rem;

    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;
        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;
        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;
        --primary: 20.5 90.2% 48.2%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;
        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;
        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 20.5 90.2% 48.2%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

html, body, #root {
    min-height: 100dvh;

}

body {
    overflow: hidden;
    cursor: default;
}


/*user select update color*/


kbd {
    font-feature-settings: "cv08";
    font-family: Inter;
}


.qr-code path:nth-child(1) {
    fill: transparent;
}

.qr-code path:nth-child(2) {
    fill: hsl(var(--primary));
    opacity: 0.3;
}

.qr-code:hover path:nth-child(2) {
    fill: hsl(var(--primary));
    opacity: 1;

}
